In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv('C:/Users/Pyter/DA/BaiTap/Credit_Scoring.csv', encoding = "ISO-8859-1")
data

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,9,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
149987,149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149988,149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149989,149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149990,149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
149991,150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [2]:
del data['Unnamed: 0']

In [3]:
for index, column in enumerate(data.columns):
    temp = data.loc[:,column].isna()
    if temp.sum() > 0:
        print('Cột', data.columns[index], 'chứa' , temp.sum() , 'giá trị KT')

Cột MonthlyIncome chứa 29730 giá trị KT
Cột NumberOfDependents chứa 3924 giá trị KT

In [4]:
data.dropna(subset=['MonthlyIncome'],inplace=True)

In [5]:
phu_thuoc = data[(data['NumberOfDependents']==0)]['MonthlyIncome']
k_phu_thuoc = data[(data['NumberOfDependents']>=1)]['MonthlyIncome']

# Có phải những khách hàng không có người phụ thuộc sẽ có thu nhập trung bình theo tháng (MonthlyIncome) nhỏ hơn những khách hàng có người phụ thuộc không (với mức ý nghĩa 10%)

In [6]:
from scipy.stats import ttest_ind
# Thực hiện kiểm định t-test
alpha = 0.1  # Mức ý nghĩa 10%

t_statistic, p_value = ttest_ind(phu_thuoc, k_phu_thuoc)

if p_value < alpha:
    print("Có bằng chứng để bác bỏ giả thuyết H0.")
    if t_statistic < 0:
        print("Khách hàng không có người phụ thuộc có thu nhập trung bình thấp hơn.")
    else:
        print("Khách hàng không có người phụ thuộc có thu nhập trung bình cao hơn.")
else:
    print("Không đủ bằng chứng để bác bỏ giả thuyết H0.")

Có bằng chứng để bác bỏ giả thuyết H0.
Khách hàng không có người phụ thuộc có thu nhập trung bình thấp hơn.

# Có phải trung bình số lượng khoản vay (NumberOfOpenCreditLinesAndLoans) những khách hàng gặp khó khăn trong vòng 2 năm trở lại đây (SeriousDlqin2yrs =1) thì sẽ cao hơn những khách hàng không gặp khó khăn không với mức ý nghĩa 10%

In [7]:
df_trouble = data[data['SeriousDlqin2yrs'] == 1]
df_no_trouble = data[data['SeriousDlqin2yrs'] == 0]

In [8]:

t_stat, p_value = ttest_ind(df_trouble['NumberOfOpenCreditLinesAndLoans'], df_no_trouble['NumberOfOpenCreditLinesAndLoans'], equal_var=False)

alpha = 0.1
if p_value < alpha:
    print("Có sự khác biệt về trung bình số lượng khoản vay giữa hai nhóm khách hàng.")
    if t_statistic < 0:
        print("Khách hàng gặp khó khăn có số lượng khoản vay thấp hơn.")
    else:
        print("Khách hàng gặp khó khăn có số lượng khoản vay cao hơn.")
else:
    print("Không đủ bằng chứng để kết luận rằng có sự khác biệt về trung bình số lượng khoản vay giữa hai nhóm khách hàng.")

Có sự khác biệt về trung bình số lượng khoản vay giữa hai nhóm khách hàng.
Khách hàng gặp khó khăn có số lượng khoản vay thấp hơn.